<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div id="videoHeader">
        <video loop="loop" autoplay="autoplay" poster="/assets/night_sky.jpeg">
          <source src="/assets/stars.mp4" type="video/mp4">
        </video>
      </div>
      <div id="mastheadText">
        <h1 class="masthead-title">
          <a class="hvr-grow" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h1>
        <nav id="nav">
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <a href="{{ page[1] }}">{{ page[0] }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          Seth DeHaan &copy; <span>{{ site.time | date: '%Y' }}</span>. All rights reserved.
        </small>
      </footer>
    </div>

    {% include google_analytics.html %}
    {% include gfycat.html %}
    {% include fancybox.html %}

  </body>
</html>
