<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div id="videoHeader">
        <video loop="loop" autoplay="autoplay" poster="https://static-videos.pexels.com/assets/video-header-7a40bc08c66e2fbe59c29ceda61c1ac2ab20192bf6c1dc74083daf09267e2ac6.jpg">
          <source src="/assets/stars.mp4" type="video/mp4">
        </video>
      </div>
      <div id="mastheadText">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <nav id="nav">
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <a href="{{ page[1] }}">{{ page[0] }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="social">
          <a target="_blank" href="http://www.github.com/sethxd"><i class="fa fa-github fa-2x fa-fw"></i></a>
          <a target="_blank" href="http://twitter.com/sethdehaan"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
          <a href="mailto:seth.dehaan@gmail.com"><i class="fa fa-envelope-o fa-2x fa-fw"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UCZvJ3jMBROUbnybIQ5bsdvw"><i class="fa fa-youtube fa-2x fa-fw"></i></a>
        </div>
        <small>
          Seth DeHaan &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

    {% include google_analytics.html %}

  </body>
</html>
