<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="masthead">
      <div id="videoHeader">
        <video loop="loop" autoplay="autoplay" poster="/assets/night_sky.jpeg">
          <source src="/assets/stars.mp4" type="video/mp4">
        </video>
      </div>
      <div id="mastheadText">
        <h1 class="masthead-title">
          <a class="hvr-grow" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h1>
        <nav id="nav">
          {% for page in site.pages_list %}
            &nbsp;&nbsp;&nbsp;
            <a class="hvr-underline-from-center" href="{{ page[1] }}">{{ page[0] }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="social">
          <a class="hvr-pulse-grow" target="_blank" href="http://www.github.com/sethxd"><i class="fa fa-github fa-2x fa-fw"></i></a>
          <a class="hvr-pulse-grow" target="_blank" href="http://twitter.com/sethdehaan"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
          <a class="hvr-pulse-grow" href="mailto:seth.dehaan@gmail.com"><i class="fa fa-envelope-o fa-2x fa-fw"></i></a>
          <a class="hvr-pulse-grow" target="_blank" href="https://www.youtube.com/channel/UCZvJ3jMBROUbnybIQ5bsdvw"><i class="fa fa-youtube fa-2x fa-fw"></i></a>
        </div>
        <small>
          Seth DeHaan &copy; <span>{{ site.time | date: '%Y' }}</span>. All rights reserved.
        </small>
      </footer>
    </div>

    {% include google_analytics.html %}
    {% include gfycat.html %}
    {% include fancybox.html %}

  </body>
</html>
